<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%-6r [%-5p] %c{1} [%t] - %m%n"/>
            <!--<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>-->
        </Console>
        <File name="LOG_FILE" fileName="nowplaying.log" append="false">
            <PatternLayout pattern="%-6r [%-5p] [%t] %-5p %c %x - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.nekocode.nowplaying.components.ArtPanel" level="info" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LOG_FILE"/>
        </Logger>
        <Logger name="org.nekocode.nowplaying.components.ArtPanelProgressLayerUI" level="info" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LOG_FILE"/>
        </Logger>
        <Logger name="org.nekocode.nowplaying.internals.TrackMonitor" level="info" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LOG_FILE"/>
        </Logger>
        <Logger name="org.nekocode.nowplaying.components.ResizeUpdateTrack" level="info" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LOG_FILE"/>
        </Logger>
        <Logger name="org.nekocode.nowplaying.components.swing.NekoFrame" level="info" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LOG_FILE"/>
        </Logger>
        <Logger name="org.nekocode.nowplaying.tags.TagModel" level="info" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LOG_FILE"/>
        </Logger>
        <Logger name="org.nekocode.itunes.remote.connection.RemoteSession" level="info" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LOG_FILE"/>
        </Logger>
        <Logger name="org.nekocode.nowplaying.components.modes.tagsdnd.FindRemovedTracks" level="debug" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LOG_FILE"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LOG_FILE"/>
        </Root>
    </Loggers>
</Configuration>
